<h3>Sveikiname prisiregistravus!</h3>

Prieš pradedant, jums reikia patvirtinti jūsų paskyrą.

<p>Nuorodą į paskyros patvirtinimą nusiuntėmė į <b> {{ email }} </b>.</p>
<p>Norint sugryžti prisijungimo puslapį, spauskite <a href="{{ url('app_login') }}">šią nuorodą</a>..</p>