<h3>You did it! You registered!</h3>

You need to confirm your email

{# example, assuming you have a route named "login" #}
Check {{ email }}


To login, go  <a href="{{ url('app_login') }}">here</a>.

Thanks!
