{% extends 'base.html.twig' %}

{% block title %}Registracija sėkminga!{% endblock %}

{% block body %}
    <div class="row justify-content-center pt-3">
        <div class="card">
            <div class="card-body">
                <h3>Sveikiname prisiregistravus!</h3>

                Prieš pradedant, jums reikia patvirtinti jūsų paskyrą.

                <p>Nuorodą į paskyros patvirtinimą nusiuntėmė į <b> {{ email }} </b>.</p>
            </div>
        </div>
    </div>
{% endblock %}