{% extends 'base.html.twig' %}

{% block title %}Kategorijų tvarkymas{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mb-4">Kategorijos</h1>
        {% for category in categories %}
        <div class="row">
            <div class="col">
            {{ category.name }}
            </div>
            {% if category in subscribed %}
                <div class="col">
                    <a class="nav-link" href="/settings/category/unsubscribe/{{ category.id }}">Naikinti prenumeratą</a>
                </div>
            {% else %}
                <div class="col">
                    <a class="nav-link" href="/settings/category/subscribe/{{ category.id }}">Prenumeruoti</a>
                </div>
            {% endif %}

        </div>
        {% endfor %}
    </div>
{% endblock %}
