{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
                {{ form_start(createCategory) }}
                <h1 class="h3 mb-3 mt-3 font-weight-normal">Kategorijos kūrimas</h1>
                <div class="form-group">
                    <label for="exampleCategoryName">Kategorijos pavadinimas</label>
                    {{ form_errors(createCategory.categoryName) }}
                    {{ form_widget(createCategory.categoryName, {'attr': {'type': 'text', 'class': 'form-control', 'name': 'name', 'id': 'name', 'required': '', 'autofocus': '', 'placeholder': 'Pavadinimas'}}) }}
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-success">Pridėti</button>
                </div>
                {{ form_end(createCategory) }}
            </div>
        </div>
    </div>
{% endblock %}