{% extends 'base.html.twig' %}

{% block title %}Renginių kalendorius{% endblock %}

{% block body %}
    <div class="container">
        <h1>Sveiki</h1>
        Renginių kalendoriaus svetainė.
    </div>
{% endblock %}