{% extends 'base.html.twig' %}

{% block title %}Slaptažodžio atkūrimas sėkmingas!{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
                <h3>Slaptažodžio atkūrimas sėkmingas!</h3>
            </div>
        </div>
    </div>
{% endblock %}