{% extends 'base.html.twig' %}

{% block title %}Slaptažodžio atkūrimas{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
                {{ form_start(resetForm) }}
                <h1 class="h3 mb-3 mt-3 font-weight-normal">Slaptažodžio atkūrimas</h1>

                <div class="form-group">
                    <label for="exampleInputPassword1">Naujas slaptažodis</label>
                    {{ form_errors(resetForm.plainPassword) }}
                    {{ form_widget(resetForm.plainPassword, {'attr': {'type': 'password', 'class': 'form-control',
                        'name': 'password', 'id': 'inputPassword', 'required': '', 'placeholder': 'Slaptažodis'}}) }}
                </div>

                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-success">Pakeisti</button>
                </div>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
{% endblock %}
