<h3>Slaptažodžio atkūrimas</h3>

Šiuo adresu buvo iškviestas slaptąžodžio atkūrimas.
{# example, assuming you have a route named "login" #}
<p>Norint atnaujinti slaptažodį, paspauskite <a href="{{ url('app_reset',{id: id, code: verCode} )}}">čia</a>.</p>