<h3>Slaptazodio atkurimas</h3>



{# example, assuming you have a route named "login" #}
Kad atnaujinti slaptazodi, paspauskite <a href="{{ url('app_mail_confirmation',{id: id, code: verCode} )}}">cia</a>.

